{% extends 'adminpages/admin_base.html'%}

{% block title%}All Orders{% endblock %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Orders</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>ORDER ID</th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ord_obj %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'owner:admin_order_detail' i.id%}">#ORDER{{i.id}}</td>
                        <td>{{i.ordered_by}}</td>
                        <td>{{i.created_at}}</td>
                        <td>{{i.total}}</td>
                        <td>{{i.order_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    

</div>
{% endblock %}