<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container pt-3">
            <div class="row">

                <a href="{% url 'owner:admin_home' %}">Admin Home  </a>  |
                <a href="{% url 'owner:admin_order_list' %}">All Order  </a>  |
                <a href="{% url 'shop:home' %}" target="blank">Vist Site  </a>  |
            </div>
        </div>
        
        {% block content %}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>