{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="text-center font-weight-bold">Welcome to our ecommerce website. </h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
        {% endfor %}
    </ul>
    {% endif %}

    
      <div class="pagination">
        <span class="step-links">
            {% if product_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ product_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ product_list.number }} of {{ product_list.paginator.num_pages }}.
            </span>
    
            {% if product_list.has_next %}
                <a href="?page={{ product_list.next_page_number }}">next</a>
                <a href="?page={{ product_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    

    <div class="row mt-4 text-center">
        {% for p in product_list %}
        <div class="col-md-4 card">
            <div class="md-3">
                <h3><a href="{% url 'shop:product_detail' p.slug %}">{{ p.title }}</a></h3>
                <img src="{{ p.image.url }}"  class="img-fluid" style="height:200px; object-fit: contain;">
                <br>
                <p class="mt-2">Price: <strike>Rs. {{p.marked_price}}</strike> Rs. {{p.selling_price}}</p>
                <a href="{% url 'shop:add_to_cart' p.id %}" class="btn btn-primary"> Add to cart</a>
            </div>    
        </div>
        {% endfor %}
    </div>
    
    
</div>

{% endblock %}